# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^task/all/?$ RestController.php?view=tasks [nc,qsa]
RewriteRule ^login/?$ RestController.php?view=login [nc,qsa]
RewriteRule ^user/todos/([0-9]+)/?$ RestController.php?view=usertodos&id=$1 [nc,qsa]