@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar {
    @apply lg:w-1/5 max-h-screen border-r border-b;
  }
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

